body {
    background-image: url("/resources/background02.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: white;
    text-align: center;
}

.aboutwork {
    font-family: verdana;
    font-weight: bold;
    font-size: 20px;
    color: aliceblue;
}
