body {
    background-image: url("/resources/background02.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: white;
    text-align: center;
}
.myname {
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
    font-weight: bolder;
    color: aliceblue;
}
.aboutwork {
    font-family: verdana;
    font-weight: lighter;
    font-size: 20px;
    color: aliceblue;
}

#midside {
    column-count: 2;
}
