body {
    background-image: url("/resources/background02.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 175);
    background-blend-mode: screen;
    text-shadow: rgb(0, 0, 0) 0px 0px 20px;
}

h1 {
    color: white;
    text-align: center;
}
.myname {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(4, 41, 78);
    text-shadow: #dcf0fc 0px 0px 10px;
}
.aboutwork {
    font-family: verdana;
    margin: 10px 30px 10px 30px;
    font-weight: lighter;
    font-size: 28px;
    color: rgb(39, 135, 219)
}

#midside {
    column-count: 1;
    margin: 10px 30px 10px 30px;
}
